<div class="header">
  <!-- Toggle invisível -->
  <input type="checkbox" id="menu-toggle">

  <!-- Parte superior da header -->
  <div class="header-top">
    <!-- Ícone do botão hamburguer (visível apenas em mobile) -->
    <label for="menu-toggle" class="menu-toggle-label">
      <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#007BFF">
        <path d="M160-200v-80h400v80H160Zm0-160v-80h640v80H160Zm0-160v-80h640v80H160Zm0-160v-80h640v80H160Z" />
      </svg>
    </label>

    <!-- Logo (à esquerda no desktop, centralizada no mobile) -->
    <a routerLink="home" class="logo-container">
      <div class="logo">
        <img class="icon-logo" src="../../../../assets/img/logo.png" alt="Logo">
      </div>
    </a>
    <!-- Ícones à direita -->
    <div class="user">
      <ul class="user-ul">
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 -960 960 960" width="22px" fill="#007BFF">
            <path
              d="M468-240q-96-5-162-74t-66-166q0-100 70-170t170-70q97 0 166 66t74 162l-84-25q-13-54-56-88.5T480-640q-66 0-113 47t-47 113q0 57 34.5 100t88.5 56l25 84Zm48 158q-9 2-18 2h-18q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480v18q0 9-2 18l-78-24v-12q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93h12l24 78Zm305 22L. -480l. 171-79 79Z" />
          </svg>
        </a>
        <a href="cart">
          <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="24px" fill="#007BFF"
            class="icon-cart">
            <path
              d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z" />
          </svg>
        </a>
        <a class="li-a" href="/public/default-login/login">
          <svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 -960 960 960" width="24px" fill="#007BFF">
            <path
              d="M480-120v-80h280v-560H480v-80h280q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H480Zm-80-160-56-56 63-64H120v-80h287l-63-64 56-56 160 160-160 160Z" />
          </svg>
          <li>Login</li>
        </a>
      </ul>
    </div>
    <!-- Campo de busca (no meio no desktop, abaixo no mobile) -->
    <div class="search-container">

      <div class="search-box">
        <input type="text" placeholder="Buscar produtos, marcas e muito mais..." class="input-search">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="24" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Menu que deve ser mostrado/oculto no mobile -->
  <div class="header-botton">
    <ul>
      <li routerLink="#"><a>Todas as categorias</a></li>
      <li routerLink="#"><a>Novidades</a></li>
      <li routerLink="/public/produtos"><a>Todos os produtos</a></li>
      <li routerLink="/public/produtos/creatina"><a>Creatina</a></li>
      <li routerLink="/public/produtos/whey"><a>Whey protein</a></li>
      <li routerLink="/public/produtos/pre treino"><a>Pré treino</a></li>
      <li routerLink="#"><a>Promoções</a></li>
    </ul>
  </div>
</div>