<h5>Produtos</h5>
<app-tables
[title]="'Tabela de Produtos'"
[showCreateButton]="true"
[createButtonLabel]="'Cadastrar'"
[rows]="allProducts"
[columns]="columns"
[columnLabels]="columnLabels"
[showActionButtons]="true"
(editRow)="onEditProduct($event)"
(deleteRow)="onDeleteProducts($event)"
>
</app-tables>

<app-modal
[tittleModal]="!produtoSelecionado ? 'Cadastrar Produto' : 'Editar Produto'"
[size]="'large'"
[isOpen]="modalAberto"
(isOpenChange)="onModalAbertoChange($event)"
(saveClick)="save()"
>

<app-produto-form 
[productToEdit]="produtoSelecionado"
(produtoSalvo)="onProdutoSalvo($event)"></app-produto-form>

</app-modal>