<form [formGroup]="signupForm" (ngSubmit)="submit()">
  <label for="userType">Tipo de Usuário:</label>
  <select id="userType" formControlName="userType" required>
    <option selected disabled value="">Escolha uma opção</option>
    <option value="ADMIN">Administrador</option>
    <option value="USER">Usuário</option>
  </select>

  <label for="name">Username:</label>
  <input type="text" id="name" formControlName="name" />

  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="email" />

  <label for="password">Password:</label>
  <input type="password" id="password" formControlName="password" />

  <label for="passwordConfirm">Confirm Password:</label>
  <input type="password" id="passwordConfirm" formControlName="passwordConfirm" />
  <small *ngIf="signupForm.hasError('passwordMismatch') && signupForm.touched" >As senhas não coincidem.</small>
    
  <button type="submit" [disabled]="signupForm.invalid">Register</button>
  <button type="button" (click)="navigate()" class="back-button">Voltar</button>
</form>
