<form  (ngSubmit)="submit()" #registerForm="ngForm">
  <!-- <label for="userType">Tipo de Usuário:</label>
  <select id="userType" [(ngModel)]="userType" name="userType" required>
    <option value="admin">Admin</option>
    <option value="user">Usuário</option>
  </select> -->

  <label for="name">Username:</label>
  <input type="text" id="name" name="name" required />

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required />

  <label for="passwordConfirm">Confirm Password:</label>
  <input type="password" id="passwordConfirm" name="passwordConfirm" required />

  <button type="submit" [disabled]="registerForm.invalid">Register</button>
  <button type="button" (click)="navigate()" class="back-button">Voltar</button>
</form>
