<div class="card">
  <div class="card-header">
    <div>
      {{tableName}}
    </div>
    <div *ngIf="botaoCadastroAparecer">
      <button (click)="onBotaoClick()">{{botaoCadastro}}</button>
    </div>
  </div>


  <div class="card-body">
    <table>
      <thead>
        <tr>
          <th *ngFor="let header of headers">
            {{ header }}
          </th>
          <th *ngIf="mostrarBotoesAcao">Ações</th>
        </tr>
      </thead>
      <tbody *ngIf="data.length > 0; else tabelaVazia">
        <tr *ngFor="let row of data">
          <td *ngFor="let header of headers">
            {{ header === 'id' && row[header] ? row[header].slice(-4) : (row[header] ?? '') }}
          </td>
          <td *ngIf="mostrarBotoesAcao">
            <app-delete-button (click)="onBotaoDeleteClick()"></app-delete-button>
            <button>editar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #tabelaVazia>
      <p>Nenhum dado encontrado.</p>
    </ng-template>
  </div>


  <ng-template #tabelaVazia>
    <tr>
      <td colspan="100%">Nenhum dado disponível.</td>
    </tr>
  </ng-template>