<!-- <h5>Produtos em falta</h5>

<app-tables
[title]="'Tabela de Produtos em Falta'"
[showCreateButton]="true"
[createButtonLabel]="'Cadastrar'"
[rows]="allProducts"
[columns]="columns"
[columnLabels]="columnLabels"
[showActionButtons]="true"
(editRow)="onEditProdutos($event)"
(deleteRow)="onDeleteProducts($event)"

>
</app-tables>


<app-modal
*ngIf="modalAberto"
[tittleModal]="'Cadastrar'"
(saveClick)="save()"

>

<app-produtos-em-falta-form
[productToEdit]="produtoSelecionado"
 (produtoSalvo)="onProdutoSalvo()"
 
>

</app-produtos-em-falta-form>
</app-modal>
 -->
