h5 {
  margin-left: 1.6rem;
  padding: 1rem 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.card {
  margin-left: 25px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  font-size: 1em;
  height: 3em;
  background-color: #007BFF;
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

button {
  margin-right: 15px;
  background-color: rgb(83, 163, 255);
  /* azul padrão */
  color: white;
  /* letra branca */
  border: none;
  border-radius: 8px;
  padding: 1.5px 6px;
  font-weight: bold;
  box-shadow: 0 1px 3px rgb(255, 255, 255);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

#button-edit {

  border-radius: 25px;
  padding: 0px;
  background-color: var(--cor-base);
  margin: 0 15px 0 15px;
  border: none;
  transition: all 0.1s ease-in-out;
  cursor: pointer;

}


button:hover {
  background-color: #1f66b2;
  /* azul mais escuro no hover */
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgb(255, 255, 255);
}

button:focus {
  box-shadow: none;
  outline: none;
}

.card-body {
  padding-top: 1.5rem;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.delete-button {
  background-color: transparent;
  color: rgb(255, 0, 0);
  border: none;
  margin-right: 5px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.delete-button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgb(255, 255, 255);
}

.delete-button:focus {
  outline: none;
  box-shadow: none;
}

.edit-button {
  background-color: transparent;
  color: rgb(66, 146, 46);
  border: none;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.edit-button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgb(255, 255, 255);
}

.edit-button:focus {
  outline: none;
  box-shadow: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

thead {
  background-color: rgb(83, 163, 255);
  color: white;
  text-align: left;
  border-radius: 8px;
}

th:first-child {
  border-top-left-radius: 8px;
}

th:last-child {
  border-top-right-radius: 8px;
}

th,
td {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;

}

tbody tr:hover {
  background-color: #f1f1f1;
  cursor: default;
  ;
}

th {
  padding: 4px 10px;
  height: 1em;
  font-weight: bold !important;
}