<h5>Usuários</h5>
<app-tables 
[botaoCadastroAparecer]="true"
[mostrarBotoesAcao]="true"
[botaoCadastro]=" 'Cadastrar'"
[tableName]="'Tabela de Usuários Cadastrados'"
[headers]="headers" 
(deleted)="loadUsers()"
[data]="users"
(editUser)="onEditUser($event)">
</app-tables>

<app-modal
[(isOpen)]="modalAberto"
(isOpenChange)="onModalFechado()"
[tittleModal]="!usuarioSelecionado ? 'Cadastrar Usuário' : 'Editar Usuário'"
[size]="'small'"
(saveClick)="save()"
>

<app-register
[userToEdit]="usuarioSelecionado"
(registerSuccess)="onUserRegistered()"
></app-register>

</app-modal>