.modal-backdrop-custom {
  display:  flex;
  align-items: center;  // Alinha o modal verticalmente no centro
  justify-content: center;  // Alinha o modal horizontalmente no centro
  position: fixed;  // Posiciona fixo na tela
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  max-width: 50rem;
  background-color: rgba(0, 0, 0, 0.5);  // Fundo escuro atrás do modal
  z-index: 1050;  // Garante que o modal fique sobre os outros elementos da página
}

.modal-dialog-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;  // Remove qualquer margem para garantir o centramento
}

.modal-content {
  max-width: 800px;  // Aumentei o tamanho máximo para 800px
  width: 100%;  // Faz com que o modal ocupe 100% da largura até o limite máximo
  border-radius: 8px;  // Pode adicionar bordas arredondadas se preferir
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  // Adiciona uma sombra leve ao modal
}

@media (min-width: 576px) {
  .modal-content {
    max-width: 90%;  // Modal menor em telas pequenas
  }
}

@media (min-width: 768px) {
  .modal-content {
    max-width: 80%;  // Modal maior em telas médias
  }
}

@media (min-width: 1200px) {
  .modal-content {
    max-width: 70%;  // Modal ainda maior em telas muito grandes
  }
}
