.modal-header {
  background-color:var(--cor-primaria);
  border-radius: 15px 15px 0 0 ;

  h5 {
    font-weight: bold;
   color: var(--cor-base);
  }

  .btn-close{
    border: none;
    background-color:var(--cor-primaria);
    color: var(--cor-base);
    width: 15px;
  }
}

.modal-backdrop-custom {
  display: flex;
  align-items: center; // Centraliza verticalmente
  justify-content: center; // Centraliza horizontalmente
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; // ALTERADO para ocupar a tela inteira
  background-color: rgba(0, 0, 0, 0.5); // Descomentei o fundo escuro, se quiser
  z-index: 1050;
}

.modal-dialog-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto; 
  max-height: 90vh;
  max-height: 800px;
  max-width: 800px;
  width: 100%;
  border-radius: 15px;
}


@media (min-width: 576px) {
  .modal-content {
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  .modal-content {
    max-width: 80%;
  }
}

@media (min-width: 1200px) {
  .modal-content {
    max-width: 70%;
  }
}
