button {
  background-color: transparent;
    color: rgb(66, 146, 46);
    border: none;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
  }
  
  button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgb(255, 255, 255);
  }
  
    button:focus {
    outline: none;
    box-shadow: none;
  }
  