<form [formGroup]="signupForm" (ngSubmit)="submit()">
  <h1 *ngIf="!userAuth">Criar conta</h1>
  
  <label for="userType">Tipo de Usuário:</label>
  <select id="userType" formControlName="userType" required>
    <option selected disabled value="">Escolha uma opção</option>
    <option *ngIf="userType === 'ADMIN'" value="ADMIN">Administrador</option>
    <option value="USER">Usuário</option>
  </select>

  <label for="nomeDeUsuario">Nome de Usuário</label>
  <input
    id="nomeDeUsuario"
    type="text"
    name="Nome de Usuário"
    placeholder="Nome de Usuário"
    formControlName="name"
  />
  <div class="invalid-text" *ngIf="signupForm.controls['name'].invalid && signupForm.controls['name'].touched">
    <small *ngIf="signupForm.controls['name'].errors?.['required']">O nome é obrigatório.</small>
  </div>

  <label for="email">E-mail</label>
  <input
    id="email"
    type="email"
    name="email"
    placeholder="E-mail do Usuário"
    formControlName="email"
  />
  <div class="invalid-text" *ngIf="signupForm.controls['email'].invalid && signupForm.controls['email'].touched">
    <small *ngIf="signupForm.controls['email'].errors?.['required']">O e-mail é obrigatório.</small>
    <small *ngIf="signupForm.controls['email'].errors?.['email']">Fomarto do e-mail inválido.</small>
  </div>

  <ng-container *ngIf="!userToEdit">
    <label for="senha">Senha</label>
    <input
      id="senha"
      type="password"
      name="senha"
      placeholder="Senha do Usuário"
      formControlName="password"
    />
    <div class="invalid-text"
      *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched">
      <small *ngIf="signupForm.controls['password'].errors?.['required']">A senha é obrigatória.</small>
      <small *ngIf="signupForm.controls['password'].errors?.['minlength']">Deve ter pelo menos 6 caracteres.</small>
    </div>

    <label for="passwordConfirm">Confirme a Senha</label>
    <input
      id="passwordConfirm"
      type="password"
      name="Confirme a Senha"
      placeholder="Confirme a Senha"
      formControlName="passwordConfirm"
    />
    <div class="invalid-text"
      *ngIf="signupForm.controls['passwordConfirm'].invalid && signupForm.controls['passwordConfirm'].touched">
      <small *ngIf="signupForm.controls['passwordConfirm'].errors?.['required']">A senha é obrigatória.</small>
      <small *ngIf="signupForm.controls['passwordConfirm'].errors?.['minlength']">Deve ter pelo menos 6
        caracteres.</small>
    </div>
  </ng-container>

  <button *ngIf="!userAuth" type="submit" [disabled]="signupForm.invalid">Cadastrar</button>
  <button *ngIf="!userAuth" type="button" (click)="navigate()" class="back-button">Voltar</button>

  <div *ngIf="!userAuth" class="login">
    <p>Já tem conta? Faça</p> <a [routerLink]="['/default-login/login']">Login</a>
  </div>
</form>