.product-card {
  margin:  30px 10px;
  width: 15rem; /* Cada card ocupa 100% da sua coluna */
  border: 3px solid var(--cor-secundaria);
  border-radius: 5px;
  padding-top: 15px;
  /* padding-bottom: 15px; */
  text-align: center; /* Centraliza o texto dentro do card */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* Espaço entre os cards */
  transition: transform 0.3s ease;
  
}

.nome {
  font-weight: bold;
}

.modelo {
  margin-bottom: 0 !important;
}

.product-card:hover {
  transform: scale(1.05); /* aumenta 5% */
}


.product-card h3, 
.product-card p {
  margin: 10px 0; /* Espaçamento entre os elementos do card */
}

.product-image {
  max-width: 100%; /* A imagem ocupa no máximo 100% da largura do card */
  max-height: 100px; /* Limita a altura máxima da imagem */
  width: auto; /* Mantém a proporção da imagem */
  height: auto; /* Mantém a proporção da imagem */
  margin-bottom: 10px; /* Espaçamento abaixo da imagem */
  object-fit: cover; /* Cobre o espaço sem distorcer a imagem */
}

.footerCard {
  background-color: var(--cor-secundaria);
}

.preco {
  margin: 0;
  padding-top: 5px;
  background-color:var(--cor-secundaria);
}



.compre {
  color: gray;
  text-align: left;
  font-size: 10px;
}

.btn {
  margin: 7px;
}
