<main>
    <section class="section-main">
        <h1>{{tittleMain}}kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</h1>
        <h1>{{tittleMain}}kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</h1>
        <h1>{{tittleMain}}kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</h1>
        <h1>{{tittleMain}}kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</h1>
        <!-- <img style="width: 30%;" src="{tittleMain}" alt=""> -->
        <p>{{textMain}}</p>
    </section>

    <section class="section-form">
            <ng-content></ng-content>
    </section>
</main>