main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 47.5vw;
    
    section {
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-main {
        flex: 0 0 60%;
        background-color: #fff;
        flex-direction: column;

        img {
            width: 50%;
        }
    }

    .section-form {
        flex: 0 0 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
        h1 {
            margin: 0 0 4rem 0;
            color: #007bff;
            font-weight: bold;
        }
    }
}