
.map-wrapper {
    margin: 50px 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente se quiser */
    width: 100%;
  }
  
  