<div class="card">
  <div class="card-header">
    <div>
      {{title}}
    </div>
    <div *ngIf="showCreateButton">
      <button (click)="openModal()">{{createButtonLabel}}</button>
    </div>
  </div>

  <div class="card-body">
    <table>
      <thead>
        <tr>
          <th *ngFor="let column of columns">
            {{ columnLabels[column] || column }}
          </th>
          <th *ngIf="showActionButtons">Ações</th>
        </tr>
      </thead>
      <tbody *ngIf="rows.length > 0; else tabelaVazia">
        <tr *ngFor="let row of rows">
          <td *ngFor="let header of columns">
            {{ cellFormatter ? cellFormatter(header, row[header]) : row[header] }}
          </td>
          <td *ngIf="showActionButtons">
            <app-delete-button [itemId]="row['id']" (deleteClicked)="onDeleteRow(row['id'])">
            </app-delete-button>
            <app-edit-button (editClicked)="onEditRow(row['id'])"></app-edit-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #tabelaVazia>
    <tr>
      <td colspan="100%">Nenhum dado disponível.</td>
    </tr>
  </ng-template>