  <app-tables
    [title]="'Gerenciamento de Lotes'"
    [rows]="allLotes"
    [columns]="columns"
    [columnLabels]="columnLabels"
    [clientSidePagination]="true"
    [sortableColumns]="['id', 'codigo', 'produtoId']"
    [showCreateButton]="true"
    [createButtonLabel]="'Cadastrar Lote'"
    [showActionButtons]="true"
    (editRow)="onEditLote($event)"
    (deleteRow)="onDeleteLote($event)"
    (createButtonClicked)="onClickCadastrar()"
  >
  </app-tables>

<app-modal
  [tittleModal]="!loteSelecionado ? 'Cadastrar Lote' : 'Editar Lote'"
  [size]="'large'"
  [isOpen]="modalAberto"
  (isOpenChange)="onModalAbertoChange($event)"
  (saveClick)="save()"
>
  <app-lote-form
    [loteToEdit]="loteSelecionado"
    (loteSalvo)="onLoteSalvo($event)"
  ></app-lote-form>
</app-modal>
