<h5>Usuários</h5>
<app-tables 
[botaoCadastroAparecer]="true"
[mostrarBotoesAcao]="true"
[botaoCadastro]="'Cadastrar'"
[tableName]="'Tabela de Usuários Cadastrados'"
[headers]="headers" 
[data]="users">
</app-tables>
<app-modal
[tittleModal]="'Cadastrar Usuário'"
>
<app-register></app-register>
<!-- <app-input-text
[showInput]="true"
[showInputLabel]="true"
[showInputTextPlaceholder]="true"
[inputTextPlaceholder]="'Nome do usuário'"
[labelName]="'Nome do Usuário'"
[idInput]="'user'"
[forInputLabel]="'user'"
[nameInput]="'user'"
[inputType]="['text']"
></app-input-text>

<app-input-text
[showInput]="true"
[showInputLabel]="true"
[showInputTextPlaceholder]="true"
[inputTextPlaceholder]="'Nome do usuário'"
[labelName]="'Nome do Usuário'"
[idInput]="'user'"
[forInputLabel]="'user'"
[nameInput]="'user'"
[inputType]="['text']"
></app-input-text>

<app-input-text
[showInput]="true"
[showInputLabel]="true"
[showInputTextPlaceholder]="true"
[inputTextPlaceholder]="'Nome do usuário'"
[labelName]="'Nome do Usuário'"
[idInput]="'user'"
[forInputLabel]="'user'"
[nameInput]="'user'"
[inputType]="['text']"
></app-input-text>

<app-input-text
[showInput]="true"
[showInputLabel]="true"
[showInputTextPlaceholder]="true"
[inputTextPlaceholder]="'Nome do usuário'"
[labelName]="'Nome do Usuário'"
[idInput]="'user'"
[forInputLabel]="'user'"
[nameInput]="'user'"
[inputType]="['text']"
></app-input-text> -->
</app-modal>